@font-face {
   font-family: Editorial;
   src: url(fonts/PPEditorialNew-Regular-BF644b214ff145f.otf);
}

@font-face {
   font-family: domaine;
   src: url(fonts/DomaineDispNar-Medium.otf);
}

.cursorScale ul a li {
   cursor: url("img/cursor.png"), auto;
}
.cursorScale ul {
   cursor: url("img/cursor.png"), auto;
}
.cursorScale a {
   cursor: url("img/cursor.png"), auto;
}
.cursorScale li {
   cursor: url("img/cursor.png"), auto;
}

body {
   font-family: "domaine";
   user-select: none;
   -ms-user-select: none;
   -webkit-user-select: none;
   cursor: none;
}

#quoteContainer {
   font-family: "Editorial", sans-serif;
}

.fontSize {
   font-size: clamp(3.125rem, 2.3026rem + 4.1118vw, 6.25rem);
}

.authorName {
   font-family: "domaine";
}

.shrink {
   transform: scale(0.4);
   mix-blend-mode: normal;
}

@media screen and (max-width: 512px) {
   #circularcursor {
      display: none;
   }
}
@media screen and (min-width: 512px) {
   .quote {
      line-height: 4rem;
   }
}
@media screen and (min-width: 384px) {
   .quote {
      line-height: 3.25rem;
   }
}
@media screen and (min-width: 320px) {
   .quote {
      line-height: 2.75rem;
   }
}
